@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --primary-color-500: hsl(185, 75%, 39%);
  --secondary-color-700: hsl(229, 23%, 23%);
  --tertiary--color-400: hsl(227, 10%, 46%);

  --neutral-color-400: hsl(227, 10%, 46%);

  --ff-base: 'Kumbh Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  min-height: 100vh;
  background-color: var(--primary-color-500);
  z-index: 1;
  display: grid;
  place-content: center;
  grid-template-columns: 320px;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-255px, -480px);
  background: url(assets/bg-pattern-top.svg);
  height: 978px;
  width: 978px;
  border-radius: 50%;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(assets/bg-pattern-bottom.svg);
  height: 978px;
  width: 978px;
  transform: translate(200px, 570px);
  z-index: 99;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  z-index: 100;
  min-height: 360px;
  overflow: hidden;
}
.profile-card::before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 38%;
  background: url(assets/bg-pattern-card.svg);
  z-index: -1;
}
.image-container {
  display: flex;
  justify-content: center;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 5.3rem;
  margin-bottom: 1rem;
}
.image-container img {
  border-radius: 50%;
}
.profile-card h1 {
  font-size: 1.1rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.2rem;
}
h1 span {
  font-weight: var(--fw-regular);
  color: var(--tertiary--color-400);
  margin-left: 0.2rem;
}
p {
  color: var(--neutral-color-400);
  font-size: 0.9rem;
}
.bar {
  border: none;
  background-color: hsl(227, 10%, 46%, 0.2);
  width: 100%;
  height: 1px;
  margin: 1.4rem 0rem;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3.5rem;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--neutral-color-400);
  font-size: 0.625rem;
  letter-spacing: 2px;
}
.stat span {
  color: var(--secondary-color-700);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  letter-spacing: 0px;
}

